body {
  font-family: Helvetica, Arial, "Lucida Grande", "Hiragino Sans GB", "Microsoft Yahei", sans-serif !important;
}

li.active {
  font-weight: bolder;
}

.nav a {
  color: #333;
}

.nav a:hover,
.nav a:focus {
  color: black;
  text-decoration: none;
}

.nav li a:hover,
.nav li a:focus {
  background-color: rgba(255, 255, 255, 0) !important;
}

ul.navbar-right {
  height: 45px;
  border: groove;
  border-right: none;
  border-top: none;
  border-left: none;
  border-width: 1px;
  border-color: rgba(205, 205, 205, 0.34);
}

/* 小屏幕时nav继续横着排列 */
.navbar-nav>li {
    float: left;
}

/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 50px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
}

/* footer inside */
p.text-muted {
  font-size: 14px;
  margin-top: 16px;
}
