.pull-right{
  float: right;
}

.m-color {
  color: #008dfd !important;
}

.m-color-background {
  background-color: #008dfd !important;
}

/* sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 90px;
  background-color: #f5f5f5;
}

/* footer inside */
p.text-muted {
  color: #333;
  font-size: 14px;
  margin-top: 16px;
}
