---
layout: index
---
<link rel="stylesheet" href="/static/markdown/github-markdown.css">
<link rel="stylesheet" type="text/css" href="/static/bootstrap4/docs.min.css">
<style>
.bd-sidebar {
  border-bottom: none;
}
.bd-sidebar ul.nav {
  display: block;
  padding-left: 12px;
}
.bd-toc-item:not(:first-child) {
  margin-bottom: 1rem;
}
.bd-toc-item {
  margin-bottom: 1rem;
}
@media (min-width: 768px) {
  .bd-sidebar >nav.bd-links {
    max-height: calc(100vh - 4rem);
  }
}
.bd-sidebar >nav .bd-toc-item a {
  font-size: 110%;
}
.bd-sidebar >nav .bd-toc-item ul li a {
  font-size: 90%;
}
.bd-sidebar >nav ul.nav > li.active > a,
.bd-sidebar >nav ul.nav > li.active > a:hover
{
  font-weight: bold;
  color: #000;
}
.bd-search-docs-toggle {
  margin-top: 1em;
}
.docs-main-content {
  margin-top: 1em;
}
.docs-main-content img {
  border: 1px solid rgba(0, 0, 0, 0.08);
}
@media (max-width: 768px) {
  .docs-main-content {
    margin-top: 2em;
  }
}
.sidenav-h1-active >a {
  font-weight: bold;
  color: black;
}
@media (min-width: 768px) {
  .bd-sidebar, .bd-toc {
    top: 3.6rem;
    height: calc(100vh - 3.6rem);
  }
}
</style>
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
      <button class="btn btn-link bd-search-docs-toggle d-md-none p-0 ml-3 collapsed" type="button" data-toggle="collapse" data-target=".bd-sidebar >nav.bd-links" data-mlang-title-cn='目录' data-mlang-title-en='Menu'>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false"><path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"></path></svg>
      </button>
      <nav class="bd-links collapse">
        {% for m1 in site.data.docs-sidebar.order %}
        <div class="bd-toc-item">
          {% assign doc = m1.sub | first %}
          {% include generate_a.html name=doc.name attribute='class="bd-toc-link"' %}
          <ul class="nav">
            {% for m2 in m1.sub %}
            <li class="{% if m2.hide %}d-none{% endif %}">
              {% include generate_a.html name=m2.name attribute='class="bd-toc-link"' %}
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endfor %}
      </nav>
    </div>
    <main class="docs-main-content toc-content markdown-body anchor-body col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role='main'>
{{content}}
    <div style="height: 10rem;"></div>
    </main>
    <div class="d-none d-xl-block col-xl-2 bd-toc">
      <div class="toc-render"></div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/static/tocbot/tocbot.css">
<script src="/static/tocbot/tocbot.min.js"></script>
<style>
.toc-render {
  border-left: 1px solid #eee;
}
.toc-render .is-active-link {
  font-weight: normal;
}
@media (min-width: 1024px){
  .toc-render .is-active-link {
    font-weight: 500;
    color: #007bff;
  }
}
.toc-render ul, .toc-render ol {
  list-style: none;
}
.toc-render li {
  padding: 6px 0px 0px .6em;
}
.toc-render a {
  color: #99979c;
  text-decoration: none;
}.toc-render a.toc-link {
  height: auto;
}
</style>
<script src="/static/anchor/anchor.min.js"></script>
<script>
function TocRender(body, target){
  tocbot.init({
    // Where to render the table of contents.
    tocSelector: target,
    // Where to grab the headings to build the table of contents.
    contentSelector: body,
    // Which headings to grab inside of the contentSelector element.
    headingSelector: 'h1, h2, h3',
    scrollSmoothDuration: 200,
    isCollapsedClass: 'is-collapsed-', //disable collapse
  });
}
function Rerender(){
  anchors.add(".anchor-body h1, .anchor-body h2, .anchor-body h3, .anchor-body h4, .anchor-body h5");
  {% if page.toc != false %}
  if($('h1, h2, h3').length > 2) {
    TocRender('.toc-content', '.toc-render');
  }
  {% endif %}
}
MLANG.ChangeHooks.push(function(){
  Rerender();
});
$(function(){
  //sidebar
  var a = $('nav.bd-links > div > ul > li > a[href="'+location.pathname+'"]');
  a.parent('li').addClass('active bd-sidenav-active');
  if(a.parent('li').css('display') == 'none') {
    a.parents('div.bd-toc-item').addClass('sidenav-h1-active');
  };
  // content
  document.querySelectorAll('.docs-main-content a').forEach(function(element){
    element.addEventListener('click', function(event){
      if(/^((https?:)?\/\/|mailto:)/.test(element.getAttribute('href'))) {
        event.preventDefault();
        window.open(element.href);
      }
    })
  });
  Rerender();
});
</script>