<!--!DOCTYPE html>
<html>
<head>   
</head>
<body>   
</body>
</html-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <meta name="keywords" content="OneQuick, OneQuick Lite, OneQuick Pro, Screen Border, Hot Corner, Hotkey, AutoHotkey">
    <meta name="author" content="xujinkai.net">
    <title>{{ page.title }}</title>

	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
	<!-- 可选的Bootstrap主题文件（一般不用引入） -->
	<!-- <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap-theme.min.css"> -->
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="/javascripts/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<!-- <script src="//cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
	
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/styles.css?dt=20171001_181700">
  </head>
  <body>
    <div class="wrapper">
    <header>
		<nav class="container" role="navigation" style="margin-top: 30px; margin-bottom: 40px;">
			 <ul class="nav navbar-nav" style="margin: 4px 0 0 5px;">
			 	<a href="//onequick.org"><span style="font-size: 28px; font-weight: normal; color: rgba(60, 60, 60, 0.85);">OneQuick</span><span style="font-size: 20px; color: rgba(120, 120, 120, 0.65);">.org</span></a>
			 </ul>

		      <ul class="nav navbar-nav navbar-right">
				<li class="{%if page.active=='index'%}active{%endif%}"><a href="/">简介</a></li>
				<li class="{%if page.active=='download'%}active{%endif%}"><a href="/download">下载</a></li>
				<li class="{%if page.active=='feedback'%}active{%endif%}"><a href="/feedback">反馈</a></li>
				<li class="{%if page.active=='docs'%}active{%endif%}"><a href="/docs">文档</a></li>
				<li class="{%if page.active=='about'%}active{%endif%}"><a href="/about">关于</a></li>
			</ul>
		</nav>
    </header>
      <div class="container" style="padding: 0 20px 0 20px;">
{{ content }}
      </div>
      <footer class="footer">
      	<div class="container">
          <p class="text-muted">
            <span>
              <a href="http://weibo.com/onequick" target="_blank"><i class="fa fa-weibo" style="color: #e6162d;"></i>
                <span>OneQuick工具</span>
              </a>
            </span>
            <span class="pull-right">
              <a href="http://xujinkai.net" target="_blank">作者主页</a>
            </span>
          </p>
      		<p class="text-muted">© 2016 - 2018 OneQuick.org. All Rights Reserved
            <span class="pull-right">
              <a href="https://github.com/OneQuick/OneQuick.github.io" target="_blank">hosted on GitHub</a>
            </span>
      		</p>
      	</div>
      </footer>
    </div>
    <script src="/javascripts/scale.fix.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52509591-6', 'auto');
  ga('send', 'pageview');

  </script>
  <script>
// http://www.cnblogs.com/coco1s/p/5777260.html
if (self != top) {
  // 我们的正常页面
  var url = location.href;
  // 父级页面重定向
  top.location = url;
}
  </script>
  </body>
</html>
<!--!DOCTYPE html>
<html>
<head>   
</head>
<body>   
</body>
</html-->